{% load static %}
<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/logo_emp.png' %}"  class="logo" >
    </a>
    <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">Empy<em>real</em></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li
        {% if '/' == request.path %}
        class="nav-item active mr-3"
        {% else %}
        class="nav-item mr-3"
        {% endif %}
        >
        <a class="nav-link" href="{% url 'advertise' %}">Sell</a>
      </li>
      <li
      {% if 'about' in request.path %}
      class="nav-item active mr-3"
      {% else %}
      class="nav-item mr-3"
      {% endif %}
      >
      <a class="nav-link" href="{% url 'services' %}">Services</a>
    </li>

    <li
    {% if 'listings' in request.path %}
    class="nav-item active mr-3"
    {% else %}
    class="nav-item mr-3"
    {% endif %}
    >
    <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Featured Services
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'mortgages' %}" >Mortgage</a>
      <a class="dropdown-item" href="{% url 'legals' %}">Legal services </a>
      <a class="dropdown-item" href="#">Builder </a>

    </div>
  </li>


</ul>
<ul class="navbar-nav ml-auto">
  {% if user.is_authenticated %}
  <li
  {% if 'dashboard' in request.path %}
  class="nav-item active mr-3"
  {% else %}
  class="nav-item mr-3"
  {% endif %}
  >
  <a class="nav-link" href="{% url 'dashboard' %}">
    <i class="far fa-user"></i>
    {{ user.username }} </a>
  </li>
  <li class="nav-item mr-3">
    <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
      <i class="fas fa-sign-out-alt"></i>Logout
    </a>
    <form action="{% url 'logout' %}" method="POST" id="logout">
      {% csrf_token %}
      <input type="hidden">
    </form>
  </li>
  {% else %}
  <li
  {% if 'register' in request.path %}
  class="nav-item active mr-3"
  {% else %}
  class="nav-item mr-3"
  {% endif %}
  >
  <a class="nav-link" href="{% url 'register' %}">
    <i class="fas fa-user-plus"></i> Register</a>
  </li>
  <li
  {% if 'login' in request.path %}
  class="nav-item active mr-3"
  {% else %}
  class="nav-item mr-3"
  {% endif %}
  >
  <a class="nav-link" href="{% url 'login' %}">
    <i class="fas fa-sign-in-alt"></i>

    Login</a>
  </li>
  {% endif %}
</ul>
</div>
</div>
</nav>
