{% extends 'base.html' %}

{% load humanize %}
{% load crispy_forms_tags %}

{% block title %} | Legal Services {% endblock %}


{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <br>
        <br>
        <br>
        <br>
        <hr>
        <h1 class="display-4">Service Listing</h1>
        <p class="lead">Legal</p>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'services' %}">
               Services</a>
            </li>
          <li class="breadcrumb-item active"> Legal Services</li>
        </ol>
      </nav>
    </div>
  </section>



{% load static %}
<section class="py-5">
  <div class="container">
  <div class="row justify-content-center mt-12 " style="background-image: url('{% static '/img/Predictions.jpg' %}');">

    <div class="col-md-5 "  >
			<div class="contact-info">
        <br>
        <br>
        <h1><b><i class="fas fa-brain"></i>	&nbsp;Empyreal Predict</b></h1>

        <h6>	&nbsp;	&nbsp;Enter required fields to estimate your house price</h6>
        <br>



      </div>
		</div>

    <div class="col-md-5">

      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endif %}
      <br>
      <h3> </h3>
      <br>
      <form method="post" action="" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="row">
          <div class="col-6">
            {{ form.bedrooms|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.bathrooms|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form.sqft_living|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.sqft_lot|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form.floors|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.waterfront|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form.view|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.condition|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form.grade|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.sqft_above|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form.sqft_basement|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.yr_built|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form.yr_renovated|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.zipcode|as_crispy_field }}
          </div>
        </div>

        {{ form.location_lat|as_crispy_field }}
        {{ form.location_lon|as_crispy_field }}

        <div class="row">
          <div class="col-6">
            {{ form.sqft_living15|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.sqft_lot15|as_crispy_field }}
          </div>
        </div>




        {% if successful_submit %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("exampleModal").modal('show');
        });
    </script>
    {% endif %}
        <button type="submit" class="btn btn-info button" value="save" > <i class="fas fa-tachometer-alt"></i> 	&nbsp;	&nbsp;Submit </button>


        <br>
        <br
      </form>

    </div>

  </div>
</div>

</section>





  {% endblock %}
